.Footer{
	height: 90px;
	background-color: grey;
	width: 100vw;
	position: sticky;

	display: flex;
	align-items: center;
	justify-content: space-between;


	z-index: 50;

}

.Footer img{
	height: 30px;
	width: 100px;
	padding: 0px;
}



.SocialIcon {
	display: flex;
	justify-content: space-between;
	align-items: center;


}

.Footer ul a:hover{
	color: white;
	font-weight: bold;
}
